<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf8">
    <title>Music Intros</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72184491-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72184491-2');
    </script>
  </head>

  <body>
    <div id="content" class="row">
      <div class="col-md-12 wrapper">
        <%= yield %>

        <div class="col-md-12">
          <footer>Made by <a href="http://alishaukani.com">Alisha Ukani</a>. Check this project out on <a href="http://www.github.com/alisha/music-intros">GitHub</a><br> Music Intros uses YouTube API Services. See the <a href="https://www.youtube.com/t/terms">YouTube Terms of Service</a>, <a href="http://www.google.com/policies/privacy">Google Privacy Policy</a>, and <a href="https://myaccount.google.com/permissions">Google Security Settings page</a> for more info.
          </footer>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>