<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf8">
    <title>Music Intros</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <div id="content" class="row">
      <div class="col-md-12 wrapper">
        <%= yield %>

        <div class="col-md-12">
          <footer>Made by <a href="http://alishaukani.com">Alisha Ukani</a>. Check this project out on <a href="http://www.github.com/alisha/music-intros">GitHub</a></footer>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>